@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);

  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100%;
}

.header-section {
  background-image: url(images/bg-hero-desktop.svg);
  background-color: var(--Very-Pale-Cyan);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 25px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btn-header {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-size: 15px;
  min-width: 250px;
  max-width: 50px;
  letter-spacing: 0.8px;
  border-radius: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 250px;
  height: 30px;
  border: 0;
  padding: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
}

.btn-header:hover {
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
  opacity: 1;
}

.texts-header {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem;
  margin-top: 160px;
}

.header-h1 {
  max-width: 100%;
  width: 600px;
  font-size: 3rem;
  color: var(--Very-Dark-Cyan);
  letter-spacing: 1px;
  text-align: left;
}

.header-p {
  max-width: 100%;
  width: 650px;
  margin-top: 18px;
  color: var(--Very-Dark-Cyan);
  font-size: 18px;
  text-align: left;
}

.ill-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.illustration {
  width: 50%;
  margin-left: 45rem;
  background-size: contain;
  margin-top: -475px;
}

.btn-build {
  font-family: "Poppins", serif;
  background-color: var(--Pink);
  color: var(--Very-Pale-Cyan);
  font-weight: 500;
  font-size: 15px;
  min-width: 250px;
  max-width: 50px;
  letter-spacing: 0.8px;
  border-radius: 25px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 250px;
  height: 30px;
  border: 0;
  padding: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms linear;
  margin-top: 25px;
}

.btn-build:hover {
  opacity: 0.6;
}

.grow-section {
  display: flex;
  flex-direction: column;
}
.grow-section .texts-header {
  padding-top: 190px;
  margin: 13rem 16rem;
}

.grow-section .header-h1 {
  font-size: 2rem;
}

.grow-img {
  display: block;
  width: 35%;
  background-size: contain;
  margin-top: -575px;
  margin-left: 60rem;
}

.flowing-section {
  display: flex;
  flex-direction: row-reverse;
}

.flowing-section .texts-header {
  padding-top: 190px;
  margin: 15rem 13rem;
}

.flowing-img {
  display: block;
  width: 30%;
  max-height: 400px;
  background-size: contain;
  margin-top: 335px;
  order: 1;
}

.user-section {
  display: flex;
  flex-direction: column;
}

.user-section .texts-header {
  margin: 15rem 13rem;
}

.user-img {
  display: block;
  width: 35%;
  background-size: contain;
  margin-top: -575px;
  margin-left: 60rem;
}

.flowing-section .header-h1 {
  font-size: 2rem;
}

.ready-section {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 50rem;
  height: 15rem;
  margin: 0 auto;
  z-index: 999;
}

.ready-section .header-h1 {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  z-index: -1;
  height: 650px;
  background-color: var(--Very-Dark-Cyan);
}

.column-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 165px;
  gap: 35px;
  padding-left: 150px;
}
.column-1 a {
  width: 420px;
  text-align: left;
  margin-top: -55px;
  color: white;
}
.column-1 img {
  margin-left: -35px;
  margin-top: 30px;
}

.column-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-direction: column;
  gap: 200px;
  position: relative;
  top: -45px;
  transition: all 200ms linear;
  cursor: pointer;
}

.column-2 span {
  margin-top: -180px;
  margin-left: 50rem;
  color: rgb(255, 255, 255);
}

.column-2 span:hover {
  border-bottom: 1px solid #ffffff;
  transition: all 200ms linear;
}
.column-3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  position: relative;
  top: -30px;
  cursor: pointer;
}

.column-3 span {
  margin-top: -100px;
  margin-left: 70rem;
  color: white;
}

.column-3 span:hover {
  border-bottom: 1px solid #ffffff;
  transition: all 200ms linear;
}
.social-links {
  margin-left: 90rem;
  margin-top: -230px;
  display: flex;
  justify-content: space-around;
  gap: -10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 100%;
}
.copy {
  font-size: 12px;
  color: white;
  margin-left: 92rem;
  position: relative;
  top: 90px;
}

.circle:hover {
  border: 2px solid var(--Pink);
 
}

.circle:hover .facebook {
  filter: invert(38%) sepia(100%) saturate(500000%) hue-rotate(-50deg)
    brightness(90%) contrast(100%);
}

.circle:hover .twitter {
  filter: invert(38%) sepia(100%) saturate(500000%) hue-rotate(-50deg)
    brightness(90%) contrast(100%);
}

.circle:hover .instagram {
  filter: invert(38%) sepia(100%) saturate(500000%) hue-rotate(-50deg)
    brightness(90%) contrast(100%);
}

@media screen and (max-width: 650px) {
  .header-h1 {
    text-align: center;
    font-size: 26px;
  }

  .texts-header {
    margin-top: 25px;
  }

  .logo-img {
    width: 150px;
  }
  .header-p {
    text-align: center;
    margin-bottom: 55px;
    font-size: 15px;
  }
  .ill-image {
    margin-left: -50px;
  }
  .illustration {
    margin: 0 auto;
    width: 400px;
  }
  .grow-img {
    margin: 0 auto;
    width: 400px;
    order: -1;
    padding-top: 150px;
  }

  .flowing-img {
    margin: 0 auto;
    width: 400px;
    order: 1;
    position: absolute;
    top: 205%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .grow-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .grow-section .header-p {
    margin-top: -150px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 192%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flowing-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .flowing-section .header-p {
    margin-top: -150px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 192%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .user-section .header-p {
    margin-top: -150px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 192%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-img {
    margin: 0 auto;
    width: 400px;
    order: 1;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1500px) {
  .header-h1 {
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .header-p {
    margin: 0 auto;
  }
  .logo-img {
    width: 150px;
  }
  .header-p {
    text-align: center;
    margin-bottom: 55px;
    font-size: 15px;
  }
  .ill-image {
    margin-left: -55px;
  }
  .illustration {
    margin: 0 auto;
    width: 400px;
  }
  .btn-build {
    margin: 0 auto;
  }
  .grow-img {
    margin: 0 auto;
    width: 400px;
    order: -1;
    padding-top: 280px;
  }
  .grow-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 192%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .grow-section .header-p {
    margin-top: -150px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 205%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flowing-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .flowing-section .header-p {
    margin-top: -250px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 287%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .flowing-img {
    margin: 0 auto;
    width: 400px;
    order: -1;
    padding-top: 150px;
    position: absolute;
    top: 245%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-section .header-h1 {
    text-align: center;
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-wrap: nowrap;
  }
  .user-section .header-p {
    margin-top: -150px;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
    top: 373%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .user-img {
    margin: 0 auto;
    width: 400px;
    order: -1;
    padding-top: 150px;
    position: absolute;
    top: 325%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ready-section {
    width: 35rem;
  }
  .column-1 {
    margin-left: -85px;
  }
  .column-2 {
    margin-left: -750px;
    margin-top: 290px;
  }

  .column-3 {
    margin-left: -1070px;
    margin-top: 160px;
  }
  footer {
    height: 1150px;
  }
  .social-links {
    margin: 0 auto;
    width: 35rem;
  }
  .copy {
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 1656px) {
  .ill-image {
    margin-left: 55px;
  }
}

